<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}My Website{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
  <!-- <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css"> -->


  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <!-- Entended CSS File -->
  <link href="{{ url_for('static', filename='css/style-extended.css') }}" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
  <script src="https://kit.fontawesome.com/75c0a532f9.js" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

  <!-- =======================================================
  * Template Name: SoftLand
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/softland-bootstrap-app-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- Animations -->
<script>
  // Pulsate animation
  function pulsate(selector){
      $(selector).animate({ opacity: 0.5 }, "fast")
          .animate({ opacity: 1 }, "fast")
          .animate({ opacity: 0.5 }, "fast")
          .animate({ opacity: 1 }, "fast");
  }
  // Highlight animation
  function highlight(selector){
      $(selector).effect("highlight", { color: "#2e55a1"}, 1000);
  }
  // Bounce animation
  function bounce(selector){
      $(selector).effect("bounce", { times: 3, distance: 15 }, 300);
  }
  // Shake animation
  function shake(selector){
      $(selector).effect("shake", { distance: 5, times: 3 }, 300);
  }
</script>

<script>
    // Show dismissable alert
  function showDismissableAlert(parentElement, id, alert_type="alert-success", message){
    // Clear 
    parentElement.empty();
    var elStr = '<div id="'+id+'" class="alert alert-dismissible fade show" role="alert">' +
      message +
      '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' +
      '</div>'
    var divElement = $(elStr);
    divElement.addClass(alert_type);
    parentElement.append(divElement);
    setTimeout(function () {
        $("#"+id).fadeOut(1000);
      }, 3000);
  }
</script>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1><a href="{{ url_for('index') }}">Home</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active" href="{{ url_for('index') }}">Home</a></li>
          <!--Dropdown Menu for PDF Tools-->
          <li class="dropdown"><a href="#"><span>PDF Tools</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{{ url_for('merge_pdf.index') }}">Merge PDFs</a></li>
              <li><a class="" href="{{ url_for('split_pdf.index') }}">Split PDF</a></li>
              <li><a class="" href="{{ url_for('watermark_pdf.index') }}">Watermark PDF</a></li>
              <li><a href="{{ url_for('extract_image_pdf.index') }}">Extract Images</a></li>
              <!-- <li><a href="#">Extract Text</a></li>
              <li><a href="#">Re-arrange Pages (Copy/Delete/Re-order)</a></li>
              <li><a href="https://pymupdf.readthedocs.io/en/latest/the-basics.html">Encryption</a></li> -->
            </ul>
          </li>
          <!--Dropdown Menu for PDF Tools:End-->

          <!--Dropdown Menu for Image Tools-->
          <li class="dropdown"><a href="#"><span>Image Tools</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{{ url_for('image_tools.fractal') }}">Fractals</a></li>
              <li><a href="{{ url_for('image_tools.image') }}">Color Palette</a></li>
              <!-- <li><a class="" href="{{ url_for('split_pdf.index') }}">Split PDF</a></li>
              <li><a class="" href="{{ url_for('watermark_pdf.index') }}">Watermark PDF</a></li>
              <li><a href="{{ url_for('extract_image_pdf.index') }}">Extract Images</a></li>
              <li><a href="{{ url_for('under_the_hood') }}">Under the Hood</a></li> -->
              <!-- <li><a href="#">Extract Text</a></li>
              <li><a href="#">Re-arrange Pages (Copy/Delete/Re-order)</a></li>
              <li><a href="https://pymupdf.readthedocs.io/en/latest/the-basics.html">Encryption</a></li> -->
            </ul>
          </li>
          <!--Dropdown Menu for Image Tools:End-->

          <!--Dropdown Menu for LLM Tools-->
          <li class="dropdown"><a href="#"><span>AI/ML Tools</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{{ url_for('llm_tools.summarize') }}">Summarize (Video, PDF, URL)</a></li>
            </ul>
          </li>
          <!--Dropdown Menu for LLM Tools:End-->

          <!--Dropdown Menu for Video Tools-->
          <li class="dropdown"><a href="#"><span>Video Tools</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{{ url_for('video_tools.download') }}">Download YouTube Video</a></li>
            </ul>
          </li>
          <!--Dropdown Menu for Video Tools:End-->

          <li><a href="https://oci-daily.blogspot.com/">Blog</a></li>
          <li><a href="https://www.linkedin.com/in/fatihkeles/">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <section class="section">
      <div class="container">

        <!-- <div class="row justify-content-center text-center">
          <div class="col-md-12 m-1">
            <h2 class="section-heading">{% block header %}Choose A Plan{% endblock %}</h2>
            <p>{% block header_text %}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere illum obcaecati inventore velit laborum earum.{% endblock %}</p>
          </div>
        </div> -->
        <div class="row align-items-stretch">

          <div class="col-md-12 m-1 m-lg-0">
            <div class="pricing h-100">
              <!-- Flash messages -->
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              <ul class="flash-messages">
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endfor %}
              </ul>
              {% else %}
              <ul class="flash-messages .d-none"></ul>
              {% endif %}
              {% endwith %}
              <!-- Flash messages end -->
              {% block content %}
              <span>&nbsp;</span>
              <h3>Basic</h3>
              <ul class="list-unstyled">
                <li>Create up to 5 forms</li>
                <li>Generate 100 monthly reports</li>
              </ul>
              <div class="price-cta">
                <strong class="price">Free</strong>
                <p><a href="#" class="btn btn-white">Choose Plan</a></p>
              </div>
              {% endblock %}
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-2 mb-4 mb-md-0">
          <h3>About Me</h3>
          <p>I am a technology enthuisast with many hats and this is a small side project to explore
            possibilities and test my knowledge while working on interesting new stuff. </p>
          <p class="social">
            <a href="https://www.linkedin.com/in/fatihkeles/" target="_blank"><span class="bi bi-linkedin"></span></a>
            <a href="https://github.com/fatih-keles" target="_blank"><span class="bi bi-github"></span></a>
          </p>
        </div>
        <div class="col-md-8 ms-auto">
          <div class="row site-section pt-0">
            <!--Main-->
            <div class="col-md-2 mb-2 mb-md-0">
              <h3>Navigation</h3>
              <ul class="list-unstyled">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('under_the_hood') }}">Under the Hood</a></li>
                <li><a href="https://oci-daily.blogspot.com/" target="_blank">Blog</a></li>
                <li><a href="https://www.linkedin.com/in/fatihkeles/" target="_blank">Contact</a></li>
              </ul>
            </div>
            <!--PDF Tools-->
            <div class="col-md-2 mb-2 mb-md-0">
              <h3>PDF Tools</h3>
              <ul class="list-unstyled">
                <li><a href="{{ url_for('merge_pdf.index') }}">Merge PDFs</a></li>
                <li><a href="{{ url_for('split_pdf.index') }}">Split PDF</a></li>
                <li><a href="{{ url_for('watermark_pdf.index') }}">Watermark PDF</a></li>
                <li><a href="{{ url_for('extract_image_pdf.index') }}">Extract Images</a></li>
                <!-- <li><a href="{{ url_for('under_the_hood') }}">Under the Hood</a></li> -->
              </ul>
            </div>
            <!--Image Tools-->
            <div class="col-md-2 mb-2 mb-md-0">
              <h3>Image Tools</h3>
              <ul class="list-unstyled">
                <li><a href="{{ url_for('image_tools.fractal') }}">Fractals</a></li>
                <li><a href="{{ url_for('image_tools.image') }}">Color Palette</a></li>
              </ul>
            </div>
            <!--LLM Tools-->
            <div class="col-md-2 mb-2 mb-md-0">
              <h3>AI/ML Tools</h3>
              <ul class="list-unstyled">
                <li style="font-size: smaller;"><a href="{{ url_for('llm_tools.summarize') }}">Summarize (Video, PDF, URL)</a></li>
                <!-- <li><a href="{{ url_for('llm_tools.image') }}">Color Palette</a></li> -->
              </ul>
            </div>
            <!--Video Tools-->
            <div class="col-md-2 mb-2 mb-md-0">
              <h3>Video Tools</h3>
              <ul class="list-unstyled">
                <li style="font-size: smaller;"><a href="{{ url_for('video_tools.download') }}">Download YouTube Video</a></li>
                <!-- <li><a href="{{ url_for('llm_tools.image') }}">Color Palette</a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center text-center">
        <div class="col-md-7">
          <p class="copyright">2023 &copy; Copyright CodeHarmony. All Rights Reserved</p>
          <div class="credits" style="font-size: x-small;">
            <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=SoftLand
          -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </div>

    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

  <!--Google Analytics -->
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-L10FC6JR0E"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-L10FC6JR0E');
  </script>

</body>

</html>